{% extends 'master' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
        <input id='home-searchbox' class="form-control" type="search" value="How do I shoot web" id="example-search-input">
    </div>
  </div>
</div>
{% endblock %}
