{% extends 'master' %}

{% block content %}
  <div class="center container">
    <div class="form-group row justify-content-center">
      <div class="push-md-1 col-sm-10">
        <input type="text" class="form-control" id="searchbox" placeholder="Plumber">
        <button id="search" type="submit" class="btn btn-primary">Search</button>
      </div>
      <div class="col-sm-2">

      </div>
    </div>
  </div>
{% endblock %}
