{% extends 'master' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 result-item">
      {{ form.open({action: 'UsersController.store'}) }}

      {{ csrfField }}
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      </div>  
      <div class="form-group">
        <label>Email address</label>
        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>
      {{ form.close() }}

    </div>
  </div>
</div>


{% endblock %}
