{% extends 'master' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 result-item">
      <h3>Update your settings</h3>
      {{ form.open({ action: 'UsersController.update', params: {id: currentUser.id}, files: true }) }}
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ currentUser.email }}">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter your name" value="{{ currentUser.name }}">
      </div>
      <div class="form-group">
        <label>Upload your avatar</label>
        <input type="file" class="form-control-file" name="avatar" accept="image/*">
      </div>
      {% if not currentUser.access_token %}
      <div class="form-group">
        <a href="{{ auth_url }}"> 
          <button type="button" class="btn btn-secondary">Sign In With Google</button>
        </a>
      </div>
      {% else %}
      <div class="form-group">
        <label>Your work calendar</label>
        <select class="form-control" name="calendar">
          {% for item in calendars.items %}
            {% if item.accessRole == "owner" %}
            <option value="{{ item.id }}">{{ item.summary }}</option>
            {% endif %}
          {% endfor %}
        </select>  
      </div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Submit</button>
      {{ form.close() }}
    </div>
  </div>
</div>


{% endblock %}
