body {
  font-family: 'Lato', sans-serif;
  color: #000;
  margin-top:50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

a{
  color: #025aa5;
}

* {
  border-radius: 0px !important;
}

#searchbox{
  height: 50px;
  box-shadow: none;
  float:left;
  width:30%;
  border-radius: 0px;
}

#emergency-button {
  height:50px;
  widht:10%;
  outline:none !important;
  background:#c9302c;
  border-color:#c9302c
}
#emergency-button:focus, #emergency-button .active:focus {
  outline:0 !important;
}
#searchbox::-webkit-input-placeholder{
  font-style:italic;
  font-size:1.2rem;
}

#search {
  height : 50px;
  width:20%;
  float:left;
  border-radius: 0px;
}


#search-position, #search-category  {
  width: 20%;
  height: 50px;
  float:left;
}



#search-category  select, #search-position  input{
  width: 100%;
  height: 50px;
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#search-category  select {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.ja-input-icon{
  background: none;
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#search-form{
  margin-top: 50px;
}

#results{
  margin-top: 75px;
}

.result-item{
  margin-bottom: 40px;
  border: 3px solid;
  border-color: #F8F8F8;
  padding: 10px;
  box-shadow: 1px 0px 5px #EAE7E7;
}

.result-item-title{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.result-item-details{
  margin-bottom: 1.2rem;
}

.result-item-title a{
  color: #025aa5;
}

.result-item-title a:hover{
  text-decoration: none;
  color: #025aa5;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.badge-anchor{
  text-decoration: none;
}


.register-form {
  /*background-color: red;*/
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
  text-align: justify;

}

.register-item {
  margin-top: 8px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
}

.register-button{
  text-align: left;
  margin-right: 25px;
  /*text-align: center; !important;*/
  width: 200px;!important;
}

.register-item #type {
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: rgba(250,250,250,1);
}


.login-dropdown{
  border: solid;
  border-color: rgba(0,0,0,0.1);
  border-width: 3px;
  background-color: white;
  color: #464a4c;
}

.account-item {

  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.account-item:focus{

  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}


.nav-item.username{
  margin-top: 7px;
}
