{% extends 'master' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="row">
        <nav id="orderBy" class="nav">
          <a class="nav-link disabled" href="#">Sort by</a>
          <a class="nav-link active" href="{{ queryWithoutOrder + 'orderBy=0' }}">Distance</a>
          <a class="nav-link active" href="{{ queryWithoutOrder + 'orderBy=1' }}">Price</a>
          <a class="nav-link active" href="{{ queryWithoutOrder + 'orderBy=2' }}">Rating</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      {% for profile in profiles.data %}
      <div class="row result-item">
        <div class="col-md-4 text-center align-middle">
          <img src="/profile_images/{{ profile.logo }}" class="img-fluid" alt="{{ profile.title }} logo">
        </div>
        <div class="col-md-8">
          <div class="row align-items-center">
            <div class="col-8 result-item-title">
              <a href="/profiles/{{ profile.id }}">{{ profile.title }}</a>
            </div>
              <div class="col-4 text-right"> {{ profile.distance | round }} km</a></div>
          </div>
          <div class="row result-item-detail">
            <div class="col"><a href="{{profile.website}}"> {{ profile.website }} </a></div>
            <div class="col">{{ profile.telephone }}</div>
            <div class="col">{{ profile.city }}</div>
          </div>
          <div class="row mt-1">
            <div class="col">
              {{ profile.description | truncate(300)}}
            </div>
          </div>
          <div class="row">
            <div class="col-4 justify-content-end">
              <select class="ratings" autocomplete="off" style="display: none;" >
								<option value="1" {{ "selected" if (profile.overall_rating == 1) }}>1</option>
								<option value="2" {{ "selected" if (profile.overall_rating == 2) }}>2</option>
								<option value="3" {{ "selected" if (profile.overall_rating == 3) }}>3</option>
								<option value="4" {{ "selected" if (profile.overall_rating == 4) }}>4</option>
								<option value="5" {{ "selected" if (profile.overall_rating == 5) }}>5</option>
							</select>
            </div>
            <div class="col-8 text-right item-price">
              $<span>{{ profile.price }}</span>
            </div>
          </div>
       </div>
     </div>
     {% else %}
     <div class="alert alert-warning font-italic" role="alert">
       Your search did not match any profile.
     </div>

     {% endfor %}

     {% if profiles.total > 25 %}
     <!-- START Pagination -->
     <div class="row justify-content-center">
      <div class="col-md-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            {% if  profiles.currentPage == 1 %}

            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ profiles.nextPage }}">{{ profiles.currentPage + 1 }}</a></li>
            <li class="page-item "></a><a class="page-link" href="{{ profiles.previousPage }}">{{ profiles.currentPage + 2 }}</li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
            {% else %}


            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item "><a class="page-link" href="{{ profiles.previousPage }}">{{ profiles.currentPage -1 }}</a></li>
            <li class="page-item active"><a class="page-link" href="#">{{ profiles.currentPage }}</a></li>
            <li class="page-item"><a class="page-link" href="{{ profiles.nextPage }}">{{ profiles.currentPage + 1 }}</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
     </div>
     <!-- END Pagination -->
     {% endif %}

    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
  	$('.ratings').barrating('show', {
			theme: 'bars-square',
			showValues: true,
			showSelectedRating: false,
			readonly: true,
		});
  </script>
{% endblock  %}
