{% extends 'master' %}
{% block content %}
  <div class="row">
    <div class="col-10 offset-md-1 px-0">
      {% for profile in profiles %}
        <div class="row result-item align-items-center py-4">
          <div class="col-md-3 text-center">
            <img src="/profile_images/{{ profile.logo }}" class="img-fluid" alt="{{ profile.title }} logo">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-12 item-header">
                <div class="row">
                  <div class="col-8 item-title">
                    <a href="/profiles/{{ profile.id }}">{{ profile.title }}</a>
                  </div>
                  <div class="col-4 float-right text-right item-rating">
                    <select class="ratings" autocomplete="off" style="display: none;" >
                      <option value="1" {{ "selected" if (profile.overall_rating == 1) }}>1</option>
                      <option value="2" {{ "selected" if (profile.overall_rating == 2) }}>2</option>
                      <option value="3" {{ "selected" if (profile.overall_rating == 3) }}>3</option>
                      <option value="4" {{ "selected" if (profile.overall_rating == 4) }}>4</option>
                      <option value="5" {{ "selected" if (profile.overall_rating == 5) }}>5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-4 text-left item-price">
                <b>Price</b> $<span>{{ profile.price }}</span>
              </div>
              <div class="col-4 text-left item-distance"><b>Distance</b> {{ profile.distance | round }} km</a></div>
            </div>
            <div class="row mt-3">
              <div class="col">
                {{ profile.description | truncate(300)}}
              </div>
            </div>
            <div class="row item-detail mt-3">
              <div class="col">{% if profile.website !== '' %}<a href="https://{{profile.website}}"><i class="fa fa-home" aria-hidden="true"></i> {{ profile.website | truncate(20) }} </a>{% endif %}</div>
              <div class="col">{% if profile.telephone !== '' %}<i class="fa fa-phone" aria-hidden="true"></i> {{ profile.telephone }}{% endif %}</div>
              <div class="col"><i class="fa fa-address-card" aria-hidden="true"></i> {{ profile.city }}</div>
            </div>
          </div>
        </div>
{% else %}
        <div class="alert alert-warning font-italic" role="alert">
          Your search did not match any profile.
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    $('.ratings').barrating('show', {
      theme: 'fontawesome-stars',
      showValues: false,
      showSelectedRating: false,
      readonly: true,
    });

    $( "#slider-distance" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ {{ request.minDist or 0 }}, {{ request.maxDist or 500 }} ],
      step: 10,
      slide: function(event, ui) {
        $("#distance-min-value").val(ui.values[0]);
        $("#distance-max-value").val(ui.values[1]);
      }
    });
    $( "#slider-price" ).slider({
      range: true,
      min: 0,
      max: 1000,
      values: [ {{ request.minPrice or 0 }}, {{ request.maxPrice or 1000 }} ],
      step: 10,
      slide: function(event, ui) {
        $("#price-min-value").val(ui.values[0]);
        $("#price-max-value").val(ui.values[1]);
      }
    });
    $( "#slider-rating" ).slider({
      range: true,
      min: 1,
      max: 5,
      values: [ {{ request.minRate or 1 }}, {{ request.maxRate or 5 }} ],
      step: 1,
      slide: function(event, ui) {
        $("#rating-min-value").val(ui.values[0]);
        $("#rating-max-value").val(ui.values[1]);
      }
    });
    $("#distance-min-value").change(function(){
      $("#slider-distance").slider("values", 0, $("#distance-min-value").val())
    })
    $("#distance-max-value").change(function(){
      $("#slider-distance").slider("values", 1, $("#distance-max-value").val())
    })
    $("#price-min-value").change(function(){
      $("#slider-price").slider("values", 0, $("#price-min-value").val())
    })
    $("#price-max-value").change(function(){
      $("#slider-price").slider("values", 1, $("#price-max-value").val())
    })
    $("#rating-min-value").change(function(){
      $("#slider-rating").slider("values", 0, $("#rating-min-value").val())
    })
    $("#rating-max-value").change(function(){
      $("#slider-rating").slider("values", 1, $("#rating-max-value").val())
    })
  </script>
{% endblock  %}
