{% extends 'master' %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-8" style="color:white">
			{{ profile.description }}
		</div>
	</div>
</div>
{% endblock %}
