{% extends 'master' %}
{% block search %}{% endblock %}
{% block content %}
<div class="row justify-content-center mb-5">
  <div class="col-10">
    <div class="row mt-5">
      <div class="col">
        <h1>{{ profile.title }}</h1>
        {#Profile Controller not asnwering#}
        {% if profile.user_id == currentUser.id and profile.user_id != null %}
        <a href="/profiles/{{ profile.id }}/edit" id="edit" class="btn btn-primary col-sm-1 px-0 mx-0" role="button">Edit</a>
        {% endif %}
        <hr>
      </div>
    </div>
    <div id="profile-details" class="row align-items-center">
      <div class="col-4 text-center">
        <img src="/profile_images/{{ profile.logo }}" class="img-fluid" alt="{{ profile.title }} logo">
      </div>
      <div class="col-8">
        <dl class="row">
          {% if profile.email %}
          <dt class="col-sm-3">Email</dt>
          <dd class="col-sm-9"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></dd>
          {% endif  %}
          {% if profile.telephone  %}
          <dt class="col-sm-3">Telephone</dt>
          <dd class="col-sm-9"><a href="tel:{{ profile.telephone }}">{{ profile.telephone }}</a></dd>
          {% endif  %}
          {% if profile.website %}
          <dt class="col-sm-3">Website</dt>
          <dd class="col-sm-9"><a href="{{ profile.website }}" target="_blank" rel="nofollow">{{ profile.website }}</a></dd>
          {% endif %}
          <dt class="col-sm-3">City</dt>
          <dd class="col-sm-9">{{ profile.city }}</dd>
          <dt class="col-sm-3">Service type</dt>
          <dd class="col-sm-9">
            {% for category in categories %}
            <a href="/profiles?category={{ category.id }}" class="badge-anchor">
              <span class="badge badge-pill badge-primary">{{ category.name }}</span>
            </a>
            {% endfor %}
          </dd>
          <dt class="col-sm-3">Rate per hour</dt>
          <dd class="col-sm-9">${{ profile.price | float }}</dd>
          <dt class="col-sm-3">Distance by car</dt>
          <dd class="col-sm-9">{{ profile.distanceTime }}</dd>
        </dl>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-8">
        <h3>About us</h3>
        <p id="profile-description">{{ profile.description }}</p>
      </div>
      <div class="col-12 col-md-4 text-right">
        <h3>Rating</h3>
        <div class="row mt-2">
          <div class="col ">
            <label>Vote overall</label>
            <select id="display_overall" autocomplete="off" style="display: none;" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label>Vote price</label>
            <select id="display_price" autocomplete="off" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label>Vote quality</label>
            <select id="display_quality" autocomplete="off" style="display: none;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col">
        <h3>Reviews</h3>
      </div>
    </div>
    {% for review in reviews %}
    <div id="review{{review.id}}"class="row mx-0 align-items-center review-item mb-4">
      <div class="col-12 pt-4 {{ "pb-2" if not review.comment }}">
        <div class="row align-items-center">
          <div class="col-1">
            <img src="/avatar/{{ review.user.avatar }}" class="img-fluid rounded-circle">
          </div>
          <div class="col-2">
            <a class="review_username" href="#">{{ review.user.name }}</a>
          </div>
          <div class="col text-center">
            <label>Vote overall</label><br>
            <select class="overall_rating ratings" autocomplete="off" style="display: none;" >
              <option value="1" {{ "selected" if (review.vote_overall == 1) }}>1</option>
              <option value="2" {{ "selected" if (review.vote_overall == 2) }}>2</option>
              <option value="3" {{ "selected" if (review.vote_overall == 3) }}>3</option>
              <option value="4" {{ "selected" if (review.vote_overall == 4) }}>4</option>
              <option value="5" {{ "selected" if (review.vote_overall == 5) }}>5</option>
            </select>
          </div>
          <div class="col text-center">
            <label>Vote price</label><br>
            <select class="price_rating ratings" autocomplete="off" style="display: none;">
              <option value="1" {{ "selected" if (review.vote_price == 1) }}>1</option>
              <option value="2" {{ "selected" if (review.vote_price == 2) }}>2</option>
              <option value="3" {{ "selected" if (review.vote_price == 3) }}>3</option>
              <option value="4" {{ "selected" if (review.vote_price == 4) }}>4</option>
              <option value="5" {{ "selected" if (review.vote_price == 5) }}>5</option>
            </select>
          </div>
          <div class="col text-center">
            <label>Vote quality</label><br>
            <select class="quality_rating ratings" autocomplete="off" style="display: none;">
              <option value="1" {{ "selected" if (review.vote_quality == 1) }}>1</option>
              <option value="2" {{ "selected" if (review.vote_quality == 2) }}>2</option>
              <option value="3" {{ "selected" if (review.vote_quality == 3) }}>3</option>
              <option value="4" {{ "selected" if (review.vote_quality == 4) }}>4</option>
              <option value="5" {{ "selected" if (review.vote_quality == 5) }}>5</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <p class="review-comment">
              {% if review.comment %}
              {{ review.comment }}
              {% else %}
              <i>No comment</i>
              {% endif %}
            </p>
          </div>
        </div>
        <div class="row">
          {% if review.answer %}
          <div class="col-12 pt-2 review-answer">
            <h5>Answer from the owner</h5>
            <p><i><small>Last update {{ review.answer.updated_at }}</small></i></p>
            <p class="review-answer-comment"><i>{{ review.answer.comment }}</i></p>
            {% if profile.user_id == currentUser.id and profile.user_id != null %}

            <button class="btn btn-primary editButton float-right" data-id="{{ review.id }}">Edit</button>
            <div id="answerEdit{{review.id}}" class="mt-3 hidden-xs-up">
              <h5>Edit your answer</h5>
              {{ form.open({ action: 'AnswerController.update', params: {id: review.answer.id, reviews_id: review.id} }) }}
              {{ csrfField }}
              <div class="form-group">
                <label>Answer</label>
                <textarea class="form-control" name="comment" rows="3" required>{{ review.answer.comment }}</textarea>
              </div>
              <button type="submit" class="btn btn-primary float-right">Submit</button>
              {{ form.close() }}
            </div>
            {% endif %}
          </div>
          {% else %}
          {% if profile.user_id == currentUser.id and profile.user_id != null %}
          <div class="col-12 answer-form">
            <button class="btn btn-primary answerButton float-right" data-id="{{ review.id }}">Answer</button>
            <div id="answer{{review.id}}" class=" mt-3 hidden-xs-up">
              <h5>Add your answer</h5>
              {{ form.open({ action: 'AnswerController.store', params: {reviews_id: review.id} }) }}
              {{ csrfField }}
              <div class="form-group">
                <label>Answer</label>
                <textarea class="form-control" name="comment" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary float-right">Submit</button>
              {{ form.close() }}
            </div>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row mt-5">
      <div class="col">
        <h4>Add your review</h4>
        {% if currentUser and profile.user_id != currentUser.id %}
        {{ form.open({ action: 'ReviewController.store', params: {profiles_id: profile.id} }) }}
        {{ csrfField }}
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="comment" rows="3"></textarea>
        </div>
        <div class="form-group row">
          <div class="col">
            <label>Vote overall</label>
            <select id="overall" name="vote_overall" autocomplete="off" style="display: none;" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col">
            <label>Vote price</label>
            <select id="price" name="vote_price" autocomplete="off" style="display: none;" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col">
            <label>Vote quality</label>
            <select id="quality" name="vote_quality" autocomplete="off" style="display: none;" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
        {{ form.close() }}
        {% else %}
        {% if profile.user_id == currentUser.id and profile.user_id != null %}
        <p><b>You are the owner of the page. You cannot add a review.</b></p>
        {% else %}
        <p><b>You must be logged in to post a review</b></p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $(".answerButton").click(function() {
    $("#answer"+$(this).data('id')).toggleClass('hidden-xs-up')
  });

  $(".editButton").click(function() {
    $("#answerEdit"+$(this).data('id')).toggleClass('hidden-xs-up')
  });
  $(function() {
    $('#quality, #price, #overall').barrating('show', {
      theme: 'fontawesome-stars',
      showSelectedRating: false,
      initialRating: 3
    });
    $('#display_quality').barrating('show', {
      theme: 'fontawesome-stars',
      showSelectedRating: false,
      readonly: true,
      initialRating: {{ profile.vote_quality[0].vote_quality | round }}
    });
    $('#display_price').barrating('show', {
      theme: 'fontawesome-stars',
      showSelectedRating: false,
      readonly: true,
      initialRating: {{ profile.vote_price[0].vote_price | round }}
    });
    $('#display_overall').barrating('show', {
      theme: 'fontawesome-stars',
      showSelectedRating: false,
      readonly: true,
      initialRating: {{ profile.vote_price[0].vote_price | round }}
    });
    $('.ratings').barrating('show', {
      theme: 'fontawesome-stars',
      showValues: false,
      showSelectedRating: false,
      readonly: true,
    });
  });
</script>
{% endblock %}
